<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles/style-sobre_nós.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="geral">
        <div class="sobre_nos">
            <h2><strong>Quem somos</strong><br></h2>
            <img src="..//static/images/imagem1.jpg" alt="" width="93%" height="350px"> <br>
        </div>
        <h1>Somos alunos do curso Técnico em Desenvolvimento de Sistemas-2024 do Senac-RN, em Mossoró. <br> Formamos um grupo de cinco estudantes comprometidos em aplicar os conhecimentos adquiridos ao longo do curso. <br></h1>
        <div class="missão">
            <h2><strong>Nossa missão</strong></h2> <br>
            <img src="../static/images/imagem2.jpeg" alt="">
            <h2>Nosso objetivo é criar um site voltado para a área da saúde, com a intenção de contribuir para o bem-estar das pessoas. Acreditamos que nossa ideia tem potencial para se tornar uma ferramenta útil no futuro, e esperamos que o projeto possa ser levado adiante. <br></h2>
            
        </div>
        <div class="equipe">
            <strong>Equipe</strong> <br>
            <img src="..//static/images/imagem3.jpeg" alt="">
            <h3>Nossa equipe é composta por programadores jovens e com pouca experiência, mas somos unidos e trabalhamos em conjunto para oferecer o melhor resultado possível. A troca de conhecimentos e a colaboração mútua são fundamentais para o nosso desenvolvimento. <br></h3>
        </div>
        
    </div>
</body>

</html>